<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>

    <div class="album py-5">
        <div class="container">
            <div class="card mx-auto w-50 text-center my-5 py-5">
                <h1 class="py-3">Music Recommender App</h1>
                <form action="/recommendSongs" method="POST">
                    <label for="song" class="py-3">Enter a song name:</label>
                    <input type="text" name="song" id="song" list="trackNames">
                    <datalist id="trackNames">
                        <% for (let track of trackNames) { %>
                            <option value="<%= track %>">
                        <% } %>
                    </datalist>
                    <br>
                    <button type="submit">Recommend</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>