<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="album py-5">
        <div class="container">
            <div class="card mx-auto w-50 text-center my-5 py-5">
                <% if (typeof recommendedSongs == 'string') { %>
                    <p><%= recommendedSongs %></p>
                <% } else { %>
                    <h1>Recommended Songs</h1>
                    <ol>
                        <% for (let song of recommendedSongs) { %>
                            <li><%= song['track_name'] %> by <%= song['artist_name'] %></li>
                        <% } %>
                    </ol>
                <% } %>
                <br>
                <a href="/" class="btn btn-primary">Back</a>
            </div>
            
        </div>
    </div>
</body>
</html>

<!-- add album covers  -->
<!-- recommend based on playlist -->